<%= form_for(@sql_server_widget) do |f| %>
  <% if @sql_server_widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sql_server_widget.errors.count, "error") %> prohibited this sql_server_widget from being saved:</h2>

      <ul>
      <% @sql_server_widget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :binary %><br>
    <%= f.text_field :binary %>
  </div>
  <div class="field">
    <%= f.label :boolean %><br>
    <%= f.check_box :boolean %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :datetime %><br>
    <%= f.datetime_select :datetime %>
  </div>
  <div class="field">
    <%= f.label :decimal %><br>
    <%= f.text_field :decimal %>
  </div>
  <div class="field">
    <%= f.label :float %><br>
    <%= f.text_field :float %>
  </div>
  <div class="field">
    <%= f.label :integer %><br>
    <%= f.number_field :integer %>
  </div>
  <div class="field">
    <%= f.label :references_id %><br>
    <%= f.text_field :references_id %>
  </div>
  <div class="field">
    <%= f.label :string %><br>
    <%= f.text_field :string %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :timestamp %><br>
    <%= f.datetime_select :timestamp %>
  </div>
  <div class="field">
    <%= f.label :hstore %><br>
    <%= f.text_area :hstore %>
  </div>
  <div class="field">
    <%= f.label :json %><br>
    <%= f.text_area :json %>
  </div>
  <div class="field">
    <%= f.label :array %><br>
    <%= f.text_area :array %>
  </div>
  <div class="field">
    <%= f.label :cidr_address %><br>
    <%= f.text_area :cidr_address %>
  </div>
  <div class="field">
    <%= f.label :ip_address %><br>
    <%= f.text_area :ip_address %>
  </div>
  <div class="field">
    <%= f.label :mac_address %><br>
    <%= f.text_area :mac_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
