<p id="notice"><%= notice %></p>

<p>
  <strong>Binary:</strong>
  <%= @sql_server_widget.binary %>
</p>

<p>
  <strong>Boolean:</strong>
  <%= @sql_server_widget.boolean %>
</p>

<p>
  <strong>Date:</strong>
  <%= @sql_server_widget.date %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @sql_server_widget.datetime %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @sql_server_widget.decimal %>
</p>

<p>
  <strong>Float:</strong>
  <%= @sql_server_widget.float %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @sql_server_widget.integer %>
</p>

<p>
  <strong>References:</strong>
  <%= @sql_server_widget.references %>
</p>

<p>
  <strong>String:</strong>
  <%= @sql_server_widget.string %>
</p>

<p>
  <strong>Text:</strong>
  <%= @sql_server_widget.text %>
</p>

<p>
  <strong>Time:</strong>
  <%= @sql_server_widget.time %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @sql_server_widget.timestamp %>
</p>

<p>
  <strong>Hstore:</strong>
  <%= @sql_server_widget.hstore %>
</p>

<p>
  <strong>Json:</strong>
  <%= @sql_server_widget.json %>
</p>

<p>
  <strong>Array:</strong>
  <%= @sql_server_widget.array %>
</p>

<p>
  <strong>Cidr address:</strong>
  <%= @sql_server_widget.cidr_address %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @sql_server_widget.ip_address %>
</p>

<p>
  <strong>Mac address:</strong>
  <%= @sql_server_widget.mac_address %>
</p>

<%= link_to 'Edit', edit_sql_server_widget_path(@sql_server_widget) %> |
<%= link_to 'Back', sql_server_widgets_path %>
